@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    /* display: flex; */
    /* background: linear-gradient(to right, rgb(76, 6, 188), rgb(134, 134, 241)); */
    padding: 0%;

}

.body {
    /* background: url("../img/bg.jpg");  */
    background: linear-gradient(to right, rgb(76, 6, 188), rgb(134, 134, 241));
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

body img {
    height: 25%;
    width: 20%;
    /* border: 2px solid red; */
    /* padding-left: 5%; */
}

.manda {
    margin-right: 10%;
    margin-top: 15%;

}

.aoda {
    margin-left: 3%;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 120px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 80px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    /* background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167)); */
    background: linear-gradient(rgb(1, 1, 97), rgb(72, 72, 146));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgb(89, 89, 232);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-right: 25%;
}

.head {
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}